body
{
    background-color: white;
    margin: 0;
}


.topnav
{
    background-color:black;
    overflow: hidden;
}

.topnav a
{
    float: right;
    text-decoration: none;
    padding: 16px 16px;
    color: red;
    text-align: center;
    
}

.active
{
    color: black;
}

.topnav a:hover
{
    background-color:rgba(198, 198, 73, 0.6);
}

a.logo
{
    float: left;
}

img
{
  width:100px;
  height: 50px;
}

.head
{
    text-align:center;
    text-decoration: solid;
    size: 30px;
    
}
.cv
{
    text-align: center;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  header {
    background-color: #333;
    padding: 10px;
    color: white;
    text-align: center;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #555;
  }

  .contact
{
  color: #333; /* Text color */
  font-family: 'Arial', sans-serif; /* Font family */
  text-align: center; /* Center-align the text */
  text-transform: uppercase; /* Convert text to uppercase */
  margin-bottom: 20px; /* Add some bottom margin */
}


.cv
{
  align:center;
  size: 30px;
}

.design
{
  font-family:Arial, Helvetica, sans-serif;
  color:red;
  text-size-adjust: 20px;
}

  
.head1
{
    padding-left: 5rem;
    text-align:center;
    text-decoration: solid;
    font-size: 5rem;
    font-weight: 600;
    
}
div.map
{
    background-color: whitesmoke;
}

iframe.map1
{
    width: 100%;
}